<mat-toolbar color="primary">
  <span routerLink="/home" class="logo">AngularGuards</span>
  <span class="spacer"></span>
  <button
    mat-flat-button
    color="primary"
    routerLinkActive="mat-accent"
    routerLink="/home"
  >
    Home
  </button>
  <button
    mat-flat-button
    color="primary"
    routerLinkActive="mat-accent"
    routerLink="/post"
  >
    Post
  </button>
  <button
    mat-flat-button
    color="primary"
    routerLinkActive="mat-accent"
    routerLink="/formulario"
  >
    Formulario
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="logout()"
  >
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
