<form class="center-content" [formGroup]="formLogin" (submit)="login()">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Login/Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group dynamicHeight>
        <mat-tab label="Login">
          <mat-form-field class="mt-10 full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input
              type="email"
              matInput
              placeholder="Email"
              value=""
              formControlName="email"
            />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="form['email']">{{
              getErrorMessage("email")
            }}</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Ingresa tu password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              formControlName="password"
            />
            <button
              type="button"
              mat-icon-button
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
            <mat-error *ngIf="form['password']">{{
              getErrorMessage("password")
            }}</mat-error>
          </mat-form-field>
          <button mat-button color="primary" [disabled]="formLogin.invalid">
            Login
          </button>
          <p class="error_login" *ngIf="loginInvalid">
            Nombre de usuario o contraseña incorrectos.
          </p>
        </mat-tab>
        <mat-tab label="Register">
          <mat-form-field class="mt-10 full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Email" value="" />
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>

          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Password" />
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>

          <button type="button" mat-button color="primary">Register</button>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</form>
