<h2>Formulario de Contacto</h2>
<form [formGroup]="contactForm" (submit)="enviarDatos()" #formCon="ngForm">
  <mat-form-field>
    <mat-label>Nombres</mat-label>
    <input matInput type="text" formControlName="name" />
    <mat-error
      *ngIf="form['name']?.errors?.['required'] && form['name'].touched"
    >
      Ingresa tu nombre
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="email" formControlName="email" />
    <mat-error
      *ngIf="form['email']?.errors?.['required'] && form['email'].touched"
    >
      Ingresa tu email
    </mat-error>
    <mat-error
      *ngIf="form['email']?.errors?.['pattern'] && form['email'].touched"
    >
      Ingrese un email válido (e.g. example@email.com).
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Teléfono</mat-label>
    <input matInput type="tel" formControlName="phone" />
    <mat-error
      *ngIf="form['phone']?.errors?.['required'] && form['phone'].touched"
    >
      Ingrese su número de teléfono.
    </mat-error>
    <mat-error
      *ngIf="form['phone']?.errors?.['pattern'] && form['phone'].touched"
    >
      Por favor ingresar un número telefonico válido (e.g. 985858558).
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Age</mat-label>
    <input matInput type="number" formControlName="age" required />
    <mat-error *ngIf="form['age']?.errors?.['required'] && form['age'].touched">
      Edad es requerido
    </mat-error>
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>DNI</mat-label>
    <input matInput formControlName="dni" />
    <mat-error *ngIf="form['dni']?.errors?.['required'] && form['dni'].touched"
      >DNI is required</mat-error
    >
    <mat-error *ngIf="form['dni']?.errors?.['pattern'] && form['dni'].touched"
      >Invalid DNI format</mat-error
    >
  </mat-form-field>

  <mat-form-field class="w-full">
    <mat-label>País</mat-label>
    <mat-select formControlName="country" required>
      <mat-option value="">Seleccione un país</mat-option>
      <mat-option value="Argentina">Argentina</mat-option>
      <mat-option value="Chile">Chile</mat-option>
      <mat-option value="Colombia">Colombia</mat-option>
      <mat-option value="Perú">Perú</mat-option>
    </mat-select>
    <mat-error
      *ngIf="form['country']?.errors?.['required'] && form['country'].touched"
      >Country is required</mat-error
    >
  </mat-form-field>

  <div>
    <label>Educación</label>
    <mat-radio-group formControlName="education">
      <mat-radio-button class="mr-2" value="primaria"
        >Primaria</mat-radio-button
      >
      <mat-radio-button class="ml-4 mr-2" value="secundaria"
        >Secundaria</mat-radio-button
      >
      <mat-radio-button class="ml-4 mr-2" value="universidad"
        >Universidad</mat-radio-button
      >
    </mat-radio-group>
    <mat-error *ngIf="form['education']?.errors?.['required'] ">
      Por favor escoja una educación
    </mat-error>
  </div>

  <mat-form-field class="w-full">
    <mat-label>Ocupación</mat-label>
    <input matInput formControlName="occupation" required />
    <mat-error *ngIf="form['occupation']?.errors?.['required'] "
      >Escriba su ocupación</mat-error
    >
  </mat-form-field>
  <div>
    <label>Género</label>
    <mat-radio-group formControlName="gender">
      <mat-radio-button class="mr-2" value="male">Hombre</mat-radio-button>
      <mat-radio-button class="ml-4 mr-2" value="female"
        >Mujer</mat-radio-button
      >
    </mat-radio-group>
    <mat-error *ngIf="form['gender']?.errors?.['required'] ">
      Por favor selecciona un género
    </mat-error>
  </div>
  <mat-form-field class="double-column">
    <mat-label>Mensaje</mat-label>
    <textarea matInput rows="5" formControlName="message"></textarea>
    <mat-error
      *ngIf="form['message']?.errors?.['required'] && form['message'].touched"
    >
      Por favor ingresar un mensaje.
    </mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    [disabled]="contactForm.invalid"
    class="btn_submit"
  >
    Enviar
  </button>
</form>

<div *ngIf="formCon.submitted && contactForm.valid">
  <pre>{{ contactForm.value | json }} </pre>
</div>
