html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.card {
  max-width: 400px;
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.center-content {
  display: grid;
  place-content: center;
  width: 100%;
  min-height: 100vh;
}
.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
.mt-10 {
  margin-top: 10px;
}
.mat-button {
  margin-top: 10px;
  width: 100%;
  color: white;
  height: 40px;
  background-color: #3f51b5;
}
.error_login {
  text-align: center;
  color: rgb(218, 18, 18);
  margin: 17px 0;
}
.my-6 {
  margin: 6px 0;
}
